# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*



1584ba9ef7c6d32eb22c56ba7ff96319



https://api.themoviedb.org/3/movie/550?api_key=1584ba9ef7c6d32eb22c56ba7ff96319